# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.class

bin/
FourSquareAPICred.java
MySQLAPICred.java
GoogleMapsAPICred.java
MySQLCred.java
GoogleOAuthCred.java
client_secret_740412392638-gqhd6ch0lrtml78nvtdoa0h7318nvcts.apps.googleusercontent.com.json

#hibernate
hibernate.cfg.xml