.table-hover {
	text-align: center;
	width: 50%;
}
.table-bordered {
	border: 50px;
}

h2 {
	color: white;
}

h3 {
	color: black;
}

.navbar {
	margin-bottom: 0.9em;
}

body {
	background: #B2B09B;
} 

.jumbotron {
	background: #43AA8B;
	color: white;
	text-align: center;
	padding: 0.5em 0.6em;
}
.jumbotron p {
	color: black;
	font-size: 26px;
}

.btn-primary {
	color: #fff;
	background-color: #87C8B5;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}

.navbar-inverse {
/*  background: #2E2F31; */
	background: #254441;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
/*	background: #27A967; */
	background: #b2b09b;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}

.well-sm {
	background: #db504A;
	border-radius 10% 10%;
	border: 0;
}

#code {
	color: white;
}

#indexbody {
	background-image: url("https://s-i.huffpost.com/gen/1878403/images/o-DETROIT-facebook.jpg");
	background-color: black;
}

#indexjumbotron {
	background: rgba(244, 150, 94, 0.0);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}